view,
text,
image,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 只显示两行文本，超出部分显示省略号
.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
