.page {
    width: 100vw;
    min-height: 100vh;
    background: #fafafa;
    padding: 40rpx;
}

.banner {
    width: 100%;
    height: 100rpx;
    border-radius: 24rpx;
    background: #1a1a1a;
    color: #fff;
    line-height: 100rpx;
    text-align: center;
    font-size: 30rpx;

    .blogNum {
        font-size: 36rpx;
    }
}

.content {
    margin-top: 40rpx;
    width: 100%;
}

.loading-more {
    text-align: center;
    font-size: 26rpx;
    color: #b3b3b3;
    padding: 40rpx 0;
    letter-spacing: 2rpx;
}
